<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>地瓜盒</title>
    <link rel="icon" type="img/ico" href="../static/images/favicon.ico">
    <link type="text/css" rel="stylesheet" href="../static/css/share_style.css"/>
    <style>
        body {
            background-image: url('../static/images/img.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-color: #464646;
            background-position: center;
            background-attachment: fixed;
        }
<!--背景设置-->
    </style>
<body>
    <div class="card-container">
        <div class="card">
            <div class="node"><a href="/">▨</a></div>
            <b>常用&开源模组仓库</b>
            <p>只有满足下面两个条件的模组才会出现在这里：</p>
            <ul>
                <li>基于mit 或 允许分发 的开源协议。</li>
                <li>常用的工具类mod。</li>
            </ul>
            <hr>
            none
            <hr>
            <iframe src="http://127.0.0.1:8000" frameborder="0"></iframe>
        </div>
        <div class="card">
            <p>开源协议地址：</p><br>
            <hr>
            <ul>
                <li></li>
            </ul>
        </div>

        <div class="card" style="margin-top: 20px;padding: 16px 24px">
            <a href="https://github.com/MENGDU123" target="_blank">My Github</a>
            <span style="float: right">
                我是合法的 <a href="https://beian.miit.gov.cn/" target="_blank">苏ICP备2025174285号-1</a>
            </span>
        </div>
    </div>
</body>
</html>
